body {
    font-family: "Courier New", Courier, monospace;
    padding: 0px 0px;
    color: rgb(0, 0, 0);
    background-image: url("images/grunge.png\ .png");
    background-repeat: repeat;
    width: 100%;
  }
  /*YLÄRIVI*/

  .special {
    font-family: "Courier New", Courier, monospace;
    color: darkgray;
    color: aliceblue;
    background-color: #5e8288;
    background-image: url(images/special-bg.png\ .png);
    background-repeat: repeat-x;
    background-position: bottom;
    width: 100%;
    height: 35px;
  }

  #yläteksti {
    font-size: 20px;
    font-weight: bolder;
    font-style: inherit;
    margin-left: 10px;
  }
  /*PÄÄSIVU*/

  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  
/*NAVIGOINTI*/

  header {
    display: flex;
    height: 100px;
    align-items: center;
  }

  hr {
    width: 100%;
    height: 0px
  }

  
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    border: none;
    width: 100%;
    margin: 0px 100px 0px 0px;

  }
  
  /*logokuva*/ 

  .logo {
    width: 60px;
    height: 60px;
    margin: 0px 0px 0px 0px;
    padding: -1.2rem 0rem;
    border: 0%;
  }

  /*nappaimisto*/

  button {
    padding: 10px 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    background: none;
    text-align: center;
    border-radius: 5px;
    line-height: 3;
    color: #232728;
    text-align: center;
    width: 100%;
  }

  #navalateksti {
    margin-top: -12px;
    text-decoration: none;
    display: block;

  }
  
  /*PÄÄ SIVU*/ 

  section {
    display: flex;
    flex-direction: row;
  }
  
/*vasen teksti*/

  .main {
    width: 60%;
  }

 
  /*vasemman teksin kuva*/

  .img-1 {
    width: 98%;
  }
  
  /*oikea teksti*/

  .sidebar {
    width: 40%;
    margin-left: 40px;
    justify-content: end;
  }

  /*teksti laatikossa*/

  .callout {
    text-align: center;
    background-color: #f3e4c4;
    border-radius: 10px;
  }
  
/* luettelo*/ 

  .columns {
    display: flex;
    flex-direction: row;
  }
  .ul-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 10px 40px 0;
  }
  
  a {
    color: blue;
  }
  
/*ALATEKSTI*/


footer {
  margin: auto;
  text-align: center;
  padding-bottom: 3rem;
  opacity: 40%;
}

footer p {
  padding: 1rem;
  letter-spacing: 3px;
  font-size: 1.3rem;
  color: rgb(137, 137, 137);
}
  
  
  


@media  screen and (max-width:768px) {

 
  
 
    section {
        display: flex;
        flex-direction: column;
    }
   
    .special {
        width: 100%;
        height: 50px;
    }
    .wrapper {
        width: 100%;
    }

    #navalateksti {
      display: none;
    }
  
    .main, .sidebar {
        width: 100%;
    }
 }
    

  /* RESPONSIIVISUUS */

/*TABLET*/
@media only screen and (min-width: 426px) {
  nav {
    display: flex;
    flex-direction: row;
  }

  nav img {
    height: 7rem;
    width: 7rem;
    margin: auto;
    padding: 2rem;
  }

  nav ul {
    gap: 5%;
    padding-right: 10%;
    padding-left: 4%;
    font-size: 1.5rem;
  }
}

/*DESKTOP*/
@media only screen and (min-width: 769px) {
  .alaTeksti {
    text-align: left;
    letter-spacing: 0.1rem;
    text-wrap: nowrap;
    display: block;
  }

  nav img {
    height: 9rem;
    width: 9rem;
    margin: auto;
    padding: 2rem;
  }

  #wrapper {
    display: flex;
    flex-direction: row;
  }

  #main {
    width: 60%;
    margin-right: 4rem;
  }

  #sideBar {
    width: 40%;
  }

  #main p,
  .sidebarArticle p,
  #main h1 {
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 425px) {
  header {
    flex-direction: column;
    width: 100%;
  }
}